.wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex: 1;
    margin-left: -6px;
}

.modlist {
	white-space: nowrap;
	margin-left: -10px;
    position: relative;
    animation: scrolling 45s infinite linear;
    width: max-content;
}

.modlist:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
from {
    transfrom: translateX(0);
}

to {
    transform: translateX(-50%);
}
}

h2 {
	margin-bottom: 3px;
    padding-left: 10px;
}

select {
	width: 6rem;
	height: 1.5rem;
	margin-bottom: 8px;
	background-color: #d93440;
	font-weight: 500;
	color: whitesmoke;
	border-radius: 8px;
	border: 2px solid whitesmoke;
}
