---
---

<footer>
    <p> <strong> Funcionamiento: </strong> Se conecta a la <a href="https://docs.modrinth.com/api/" target="_blank"> API de modrinth </a>  y solicita proyectos que sean o mods, resource packs, shaders, o modpacks. Luego los muestra en pantalla con scroll</p>

    <p> <strong> Herramientas: </strong> Astro, y uso TypeScript por los errores nada más</p>
    <p> <strong> Instrucciones: </strong> Correr  <code>npm run dev</code>  en el root del proyecto y entrar al puerto  <code>localhost:4321</code></p>

    <p> <strong> Notas: </strong> Hubiera estado bueno haber metido para poder filtrar mods, pero me colgué y me quedé sin tiempo</p>

    <a href="https://github.com/Tomyatana/papaya" target="_blank"> Repositorio de GitHub </a>
</footer>

<style>

footer {
    gap: 1rem;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: green
}

a:hover {
    color: gold;
}

code {
    color: whitesmoke;
}
</style>
