---
import ModrinthLogo from "./modrinth-logo.astro"
---


<div class="header">
	<ModrinthLogo width=50 height=50 color2="#D93440" color1="whitesmoke" />
	<h1> <i> Papaya </i> </h1>
</div>
<div class="text">
	<p> Escencialmente un wrapper alrededor de la API de modrith... </p>
</div>

<style>
.header {
	display: inline-flex;
	align-items: center;
	gap: 1rem;

	padding: 3px;
	padding-right: 1rem;
	padding-bottom: 1px;

	position: relative;
}

h1 {
	color: #D93440;
}

p {
	color: whitesmoke
}

.text {
	margin-left: 10px;
}

</style>
