---
import ModEntry from './ModEntry.astro'
import { search_projects, type ModrinthFacets, type ModrinthMod } from './modrinth-api.ts'

const { facet, title } = Astro.props as { facet: ModrinthFacets, title: String }

let mods = await search_projects("", facet);

---
<div>
	<h2> {title} </h2>
	<label for="index"> Sorting: </label>
	<select name="index" id="sorting">
		<option value="HOLA">HOLA</option>
		<option value="CHAU">CHAU</option>
	</select>
	<div class="modlist">
		{ mods.map((m)=> <ModEntry mod={m} /> ) }
		{ mods.map((m)=> <ModEntry mod={m} /> ) }
	</div>
</div>

<style>
.modlist {
	white-space: nowrap;
	margin-left: -10px;
    position: relative;
    animation: scrolling 20s infinite linear;
}

@keyframes scrolling {
from {
    transfrom: translateX(0);
}

to {
    transform: translateX(-578%);
}
}

h2 {
	margin-bottom: 0px;
    padding-left: 10px;
}

select {
	margin-bottom: 5px;
}

</style>
