---
import ModEntry from './ModEntry.astro'
import { search_projects, type ModrinthFacets, type ModrinthMod } from './modrinth-api.ts'

const { facet, title } = Astro.props as { facet: ModrinthFacets, title: String }

let mods = await search_projects("", facet);

---
<h2> {title} </h2>
<div class="wrapper">
	<div class="modlist">
		{ mods.map((m)=> <ModEntry mod={m} /> ) }
		{ mods.map((m)=> <ModEntry mod={m} /> ) }
	</div>
</div>

<style>

.wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex: 1;
    margin-left: -6px;
}

.modlist {
	white-space: nowrap;
	margin-left: -10px;
    position: relative;
    animation: scrolling 45s infinite linear;
    width: max-content;
}

.modlist:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
from {
    transfrom: translateX(0);
}

to {
    transform: translateX(-50%);
}
}

h2 {
	margin-bottom: 0px;
    padding-left: 10px;
}

select {
	margin-bottom: 5px;
}

</style>
