---
import ModEntry from './ModEntry.astro'
import type { ModrinthMod } from './modrinth-api.ts'

const { mods } = Astro.props as { mods: ModrinthMod[] }

---

<div class="modlist">
    { mods.map((m: any)=> <ModEntry mod={m} /> ) }
</div>

<style>

.modlist {
	min-width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

</style>
